.container {
  display: flex;
  flex-flow: column nowrap;
  gap: 1rem;

}
.ant-drawer > .ant-drawer-content{
  background: #0C183B !important;
}
.ant-radio-checked .ant-radio-inner{
  border-color: red !important ;
}

.ant-radio-checked .ant-radio-inner:after{
  background-color: red;
}

.ant-radio:hover .ant-radio-inner {
  border-color: red ;
}
.ant_input{
  background-color: white !important;
}