.container {
  min-width: var(--layout-min-width);
  min-height: 100vh;
}

.header {
  position: sticky;
  top: 0;
  display: flex;
  padding: 0 1.5rem;
  width: 100%;
  z-index: 2;
}

.controls {
  margin-inline-start: auto;
}

.content {
  padding: 1.5rem;
  overflow: initial;
}

.logo {
  height: 2rem;
  width: 10.125rem;
  margin: 1rem;
  transform: translateX(0);
  transition-property: transform;
  transition-duration: 0.3s;
}

:global(.ant-layout-sider-collapsed) .logo {
  transform: translateX(0.5rem);
}

.trigger {
  position: absolute;
  top: 50vh;
  left: 100%;
  transform: translateY(-50%);
}

.sider {
  position: fixed !important;
  height: 100vh;
  overflow: auto;
}